<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <!-- a SessionFactory instance listed as /jndi/name -->
    <session-factory>

        <!-- properties -->
        <!-- <property name="connection.datasource">jdbc:postgresql://localhost:5432/t</property>-->
        <!--<property name="dialect">org.hibernate.dialect.MySQLDialect</property>-->
        <property name="show_sql">true</property>


        <property name="hibernate.connection.datasource">jdbc/data</property>


        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- mapping files -->
        <mapping resource="ru/bookpleasure/db/entities/Order.hbm.xml"/>
        <!--  <mapping resource="org/hibernate/auction/Bid.hbm.xml"/>-->


    </session-factory>

</hibernate-configuration>